
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Algo salió mal, por favor, compruebe que los datos son correctos</h2>

<button type="button">@Html.ActionLink("Volver a la cesta", "Carrito", "Pedido")</button>


