@model RollNRunWeb.Models.PedidoViewModel

@{
    ViewBag.Title = "Paga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Tu pedido se ha realizado de forma correcta, gracias por su compra!</h2>

