@model IEnumerable<RollNRunWeb.Models.PreguntaFrecuenteViewModel>

@{
    ViewBag.Title = "Indice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Preguntas Frecuentes</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.respuesta)
            </td>
        </tr>
    }

</table>