<div class="container">

  <h3>Editar Cita</h3>
  <hr />
  <form [formGroup]="fullForm" (ngSubmit)="postForm(editarForm.value, diagnosticoForm.value)">
    <form [formGroup]="editarForm">
      <div class="form-group">
        <label>Fecha y Hora</label>
        <input type="text" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" formControlName="fechaHora">
      </div>
      <div style="color:#FF0000" *ngIf="wrongDateFormat">
        Fecha escrita no es válida.
      </div>
      <div class="form-group">
        <label>Motivo Cita</label>
        <input type="text" class="form-control" placeholder="Motivo de la cita" formControlName="motivoCita">
      </div>
      <div class="form-group">
        <label>Médico</label>
        <select [value]="editarForm.value.medico!" class="form-control" placeholder="Médico de la cita" formControlName="medico">
          <option [ngValue]="" [selected]="true" [disabled]="true">Medico Original {{originalMed.id}}: {{originalMed.nombre}}, {{originalMed.apellidos}}</option>
          <option *ngFor="let item of medicos" [ngValue]="item">{{item.id}}: {{item.nombre}}, {{item.apellidos}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Paciente</label>
        <select class="form-control" placeholder="Paciente de la cita" formControlName="paciente">
          <option [ngValue]="" [selected]="true" [disabled]="true">Paciente Original {{originalPac.id}}: {{originalPac.nombre}}, {{originalPac.apellidos}}</option>
          <option *ngFor="let item of pacientes" [ngValue]="item">{{item.id}}: {{item.nombre}}, {{item.apellidos}}</option>
        </select>
      </div>
    </form>
    <br />
    <h4>Diagnóstico</h4>
    <form [formGroup]="diagnosticoForm">
      <div class="form-group">
        <label>Enfermedad</label>
        <input type="text" class="form-control" placeholder="Enfermedad del diagnóstico" formControlName="enfermedad">
      </div>
      <div class="form-group">
        <label>Valoración</label>
        <input type="text" class="form-control" placeholder="Valoración del diagnóstico" formControlName="valoracion">
      </div>
    </form>

    <div style="color:#FF0000" *ngIf="!campos">
      Faltan campos por rellenar.
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-secondary" (click)="atras()">Atrás</button>

  </form>
</div>
